/* Styles for product cards */

/* Product container */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* Product card */
.product-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: calc(25% - 20px); /* Adjust width here for 4 products in a column */
}

.product-card:last-child {
    margin-bottom: 0;
}

.product-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

/* Product image */
.product-image img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: block;
    transition: transform 0.3s ease;
    width: 100%;
}

.product-image img:hover {
    transform: scale(1.05);
}

/* Product details */
.product-details {
    padding: 20px;
}

.product-details h2 {
    color: #333;
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: bold;
}

.product-details .description {
    color: #666;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-details .price {
    color: #ff5722; /* Orange color */
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Add to Cart button */
.action {
    text-align: center;
}

.add-to-cart {
    background-color: #ff5722; /* Orange color */
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #ff6f3b; /* Lighter shade of orange */
}

/* Responsive adjustments */
@media screen and (max-width: 992px) {
    .product-card {
        width: calc(33.333% - 20px); /* Adjust width for tablet screens */
    }
}

@media screen and (max-width: 768px) {
    .product-card {
        width: calc(50% - 20px); /* Adjust width for smaller tablets */
    }
}

@media screen and (max-width: 576px) {
    .product-card {
        width: calc(100% - 20px); /* Adjust width for mobile screens */
    }
}
